.front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 6rem 0 1rem 0;
}

.front-section .front-card {
    background-image: url('/assets/images/bg-signin.jpg');
    border-radius: 1rem;
    outline: 2px solid white;
    box-shadow: inset -30px 100px 300px #030303,
        inset 20px -200px 1020px #030303;
    padding: 10rem 1rem 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.front-section .front-card .text {
    align-self: flex-end;
    width: 50%;
    margin: 5rem;
}
.front-section .front-card .text h1{
    font-size: 4rem;
    font-weight: bolder;
}

.front-section .membership {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.front-section .membership .get-started{
    margin: 1rem;
}
.front-section .membership .get-started input{
    background-color: #1a1618;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 5rem;
    width: 15rem;

}
.front-section .membership .get-started button:hover{
    background-color: rgb(176, 1, 1);
    transition: 400ms;
}
.front-section .membership .get-started button{
    padding: 1rem 2.2rem;
    background-color: red;
    border-radius: 3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: 400ms;
    margin: 0 0.2rem;
}