.popular-now {
    padding-top: 5rem;
}
.popular-now .consume {
    margin: 3rem;
}
.popular-now .consume h1{
    font-size: 2rem;    
}
.popular-now .consume .posters {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.popular-now .consume .posters > img {
    width: 12rem;
    border-radius: 0.5rem;
    transition: 400ms;
}
.popular-now .consume .posters > img:hover {
    transform: scale(1.1);
    transition: 400ms;
}
