.reason-to-join-page {
    margin: 3rem;
}
.reason-to-join-page .reason-cards {
    display: flex;
}
.reason-to-join-page .reason-cards .card{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #272727;
    border: 1px solid #383e48;
    flex: 1;
}
.reason-to-join-page .reason-cards .card img {
    float: right;
    margin-top: 5rem;
}